.app-review-section {

}

.app-review-section__block {
	height: 275px;
	.container();
	outline: 2px solid green;
}


.app-review-section__slider {
	height: 75px;
	.container();
	outline: 2px solid green;
}

.app-review-section__block--hidden {
	display: none;
}



@media @tablet-widths {

.app-review-section__slider {
	height: 60px;
	.container();
	outline: 2px solid green;
}

}

@media @desktop-widths {

.app-review-section__block {
	height: 335px;
	.container();
	outline: 2px solid green;
}

.app-review-section__slider {
	display:none;
}
  	


}