.app-download-section__image {
	height:400px;
	outline: 3px solid black;
	.container();
}

.app-download-section__description {
	height:270px;
	outline: 3px solid red;
	.container();
}






@media @tablet-widths {

	.app-download-section {
		position: relative;
		.container();
	}

	.app-download-section__image {
		position: absolute;
		height: 615px;
	}  

	.app-download-section__description {
		display:inline-block;
		width: 350px;
		height: 613px;
	}  

}

@media @desktop-widths {

	.app-download-section {
		position: relative;
		.container();
	}

	.app-download-section__image {
		position: absolute;
		height: 590px;
	}  

	.app-download-section__description {
		display:inline-block;
		width: 477px;
		height: 590px;
	}  
  
}