.app-review-section {
	background: white;
	.container();

}

.app-review-section__block-author {
	padding-top: 30px;
	margin:0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: black;
	text-align: center;
}

.app-review-section__block-text {
	margin: 10px 10px 10px 10px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color:black

}


.app-review-section__block--hidden {
	display: none;
}

.app-review-section__block {
	height: 275px;
	.container();
	outline: 2px solid green;
}


.app-review-section__slider {
	height: 75px;
	.container();
	outline: 2px solid green;
}




@media @tablet-widths {

.app-review-section__slider {
	height: 60px;
	.container();
	outline: 2px solid green;
}

}

@media @desktop-widths {

.app-review-section__block-author {
	padding-top: 140px;
}


.app-review-section__block {
	height: 420px;
	.container();
	outline: 2px solid green;
}

.app-review-section__slider {
	display:none;
}
  	


}