  	.contacts-section {
      background: white;
  	}

  	.contacts-section__title {
      text-align: center;
  		margin: 0;
      font-weight: lighter;
      padding-top: 46px;
      box-sizing: border-box;
      color: black;
  		outline: 2px solid purple;
      padding-bottom: 20px;
  	}

  	.contacts-section__block {
  		outline: 2px solid purple;
  		height: 80px;
  	}

    .contacts-section__number-title,
    .contacts-section__number,
    .contacts-section__email-title,
    .contacts-section__email,
    .contacts-section__adress-title,
    .contacts-section__adress, {
      color: black;
      margin: 0;
      margin-top: 15px;
      font-weight: bold;
      text-align: center;
    }

    .contacts-section__number,
    .contacts-section__email,
    .contacts-section__adress, {
      margin:0;
      margin-bottom: 24px;
      font-weight: lighter;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 24px;
      padding-left: 10%;
      padding-right: 10%;
      color: #d22856;
    }


  	  	.contacts-section__block:nth-child(4) {
  		height: 130px;
  	}

    .tablet-map,
    .desktop-map { 
      display:none;
    }

  	.contacts-section__map {
      margin-top: 28px;
		height: 200px;
  	}

  .contacts-section__map iframe {
     border: 0px none;
      height: 100%;
       width: 100%;
        padding: 0px;
         margin: 0px;
  }




@media @tablet-widths {

    .contacts-section {
      background: white;
      text-align: center;
    }

  	.contacts-section__title {
      box-sizing: border-box;
    padding-top: 48px;
    font-size: 41px;
    line-height: 49px;
    margin: 0;
    height: 170px;
  	}

  	.contacts-section__number-block,
    .contacts-section__email-block,
    .contacts-section__adress-block {
      display: inline-block;
      vertical-align: top;
  		height: 100px;
      width: 300px;
  	}

      .contacts-section__adress-block {
        margin-top: 4px;
        margin-bottom: 30px;
      }

 .contacts-section__adress-title,
 .contacts-section__number-title,
 .contacts-section__email-title {
  margin-bottom: 5px;
 }


  	.contacts-section__map {
      margin:0;
		height: 370px;
  	}



}

@media @desktop-widths {

  .contacts-section {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  	.contacts-section__title {
    order: 1;
    margin: 0;
    line-height: 60px;
    width: 100%;
    font-size: 50px;
    padding-top: 151px;
    height: 309px;
  	}

  	.contacts-section__block {
  		height: 120px;
  	}

.contacts-section__number-block {
  order: 2;
}
.contacts-section__email-block {
  order: 4;
}
.contacts-section__adress-block {
  order: 3;
}


.contacts-section__number-block,
.contacts-section__email-block,
.contacts-section__adress-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    height: 11s0px;
    width: 300px;
}


  	  	.contacts-section__block:nth-child(3),
  	  	.contacts-section__block:nth-child(4) {
  		display:none;
  	}

  	.contacts-section__map {
      width: 100%;
      order: 5;
    height: 510px;
  	}



}