.contacts-section {
	

}

.contacts-section__title {
	width: 240px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 30px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight:lighter;
}

.contacts-section__number-block {
	width: 240px;
	margin: 0 auto;
	text-align: center;
	margin-bottom:25px;
}

.contacts-section__number-title {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight:bold;
	margin: 0 0 10px 0;
}

.contacts-section__number {
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: lighter;
	color:#d22856;
	
}

.contacts-section__email-block {
	width: 240px;
	margin: 0 auto;
	text-align: center;
	margin-bottom:25px;
}

.contacts-section__email-title {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight:bold;
	margin: 0 0 10px 0;
}

.contacts-section__email {
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: lighter;
	color:#d22856;
}

.contacts-section__adress-block {
	width: 240px;
	margin: 0 auto;
	text-align: center;
	margin-bottom:25px;
}

.contacts-section__adress-title {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight:bold;
	margin: 0 0 10px 0;
}

.contacts-section__adress {
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: lighter;
	color:#d22856;
}

.contacts-section__map {
	text-align:center;
	margin: 0;

}