.footer-app {
	text-align:center;
}

.footer-app__logo img {
	padding-top: 30px;
	margin: 0 auto;
	text-align:center;
	display: block;
	margin-bottom: 45px;
}

.footer-app__social {
	height: 50px;
	word-spacing: 20px;
	text-align: center;
	margin-bottom:30px;
}

.footer-app__social-button {
	margin: 0 auto;
	height: 50px;
	width: 50px;
	background: black;
	display: inline-block;
}

.footer-app__developed {
	display:inline-block;
	margin: 10px auto;
	text-align: center;
	vertical-align:middle;
	height:40px;
	line-height:40px;
	text-decoration: none;
}


