.footer-app {
	text-align:center;
	height: 280px;
	1display: block;
	background: white;
}

.footer-app__logo {
    padding-top: 40px;
	margin: 0 auto;
	height: 55px;
	text-align:center;
	display: block;
	margin-bottom: 25px;
}

.form-page .footer-app__logo {
	padding-top: 32px;
    margin: 0 auto;
    height: 55px;
    text-align: center;
    display: block;
    margin-bottom: 25px;
}

.footer-app__social {
	height: 60px;
	word-spacing: 0px;
	text-align: center;
	margin-bottom:24px;
}

.form-page .footer-app__social {
    height: 60px;
    word-spacing: 0px;
        padding-left: 10px;
    text-align: center;
	margin-bottom: 25px;
        text-indent: -14px;
}

.footer-app__social-button {
	margin: 0 auto;
	height: 50px;
	width: 50px;
	display: inline-block;
}

.footer-app__social-button--twitter {
	background: url("../img/icon-twitter.svg") no-repeat 17px 17px;
	border: 3px solid #e9ebec;
	border-radius: 50px;
}

.footer-app__social-button--facebook {
	background: url("../img/icon-facebook.svg") no-repeat 21px 13px;
	border: 3px solid #e9ebec;
	border-radius: 50px;
}

.footer-app__social-button--googleplay {
	background: url("../img/icon-youtube.svg") no-repeat 20px 16px;
	border: 3px solid #e9ebec;
	border-radius: 50px;
}

.footer-app__developed {
	display:inline-block;
	1margin: 10px auto;
	text-align: center;
	vertical-align:middle;
	height:40px;
	width: 180px;
	font-size: 15px;
	line-height:40px;
	text-decoration: none;
	position: relative;
	text-indent: -44px;
}

.form-page .footer-app__developed img {
    position: absolute;
    top: 5px;
    right: 26px;
	}


.photo-page .footer-app__developed img {
    position: absolute;
    top: 5px;
    right: 26px;
	}


.index-page .footer-app {
	display: none;
}

@media @tablet-widths {

.footer-app {
	vertical-align: top;
	word-spacing: 40px;
	width: 100%;
	text-align:center;
	height: 128px;
	display: flex;
	justify-content: space-between;
}

.footer-app__logo {
	vertical-align: top;
	margin: 0;
	margin-top: 30px;
	height: 55px;
	width: 150px;
	padding-top: 10px;
	text-align: left;
	display: inline-block;
	margin-bottom: 25px;
	    margin-left: 22px;
}



.footer-app__social {
    height: 60px;
    word-spacing: 9px;
    text-align: center;
    margin-left: 14px;
    vertical-align: top;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 30px;
}



.footer-app__social-button {
	margin: 0 auto;
	height: 50px;
	width: 50px;
	display: inline-block;
}

.footer-app__developed {
    margin-top: 45px;
    word-spacing: 0;
    font-size: 15px;
    text-indent: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    height: 40px;
    width: 180px;
    line-height: 40px;
    padding-left: 28px;
    width: 160px;
    text-decoration: none;
    position: relative;
}

.footer-app__developed img {
	position: absolute;
    top: 5px;
	right: 20px;
}

.form-page .footer-app__logo {
	padding-top: 46px;
    margin: 0;
    margin-left: 20px;
    height: 55px;
    text-align: center;
    display: block;
    margin-bottom: 25px;
    margin-top: 0;
}

.form-page .footer-app__developed {
	    margin-top: 52px;
}


.form-page .footer-app__developed img {
    position: absolute;
    top: 5px;
    right: 21px;
}

.form-page .footer-app__social {
    height: 60px;
    word-spacing: 8px;
    padding-left: 10px;
    text-align: center;
    margin-top: 47px;
    margin-left: 23px;
    margin-bottom: 25px;
    text-indent: -14px;
}

.footer-app__social-button--twitter {
	background: url("../img/icon-twitter.svg") no-repeat 13px 14px;
}

.footer-app__social-button--facebook {
	background: url("../img/icon-facebook.svg") no-repeat 18px 13px;
}

.footer-app__social-button--googleplay {
	background: url("../img/icon-youtube.svg") no-repeat 17px 16px;
}


.index-page .footer-app {
	display: flex;
}
 
.photo-page .footer-app__logo {
	vertical-align: top;
    margin: 0;
    margin-top: 15px;
    margin-left: 21px;
    height: 55px;
    width: 150px;
    padding-top: 10px;
    text-align: left;
    display: inline-block;
    margin-bottom: 25px;
}

.photo-page .footer-app__social {
    height: 60px;
    word-spacing: 7px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}



	.footer-app__social-button {
		height: 43px;
    	width: 43px;
	}

.photo-page .footer-app__developed {
    margin-top: 36px;
    word-spacing: 0;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    height: 40px;
    width: 180px;
    line-height: 40px;
    padding-left: 28px;
    width: 160px;
    text-decoration: none;
    position: relative;
}
}

@media @desktop-widths {

.index-page .footer-app {
	display: flex;
}

  	.footer-app {
  		width: 100%;
  		text-align: center;
  		display: block;
		height: 225px;
		display: flex;
		justify-content: space-around;
	}

	.footer-app__logo {
		height: 60px;
		display:inline-block;
		width: 190px;
		margin: 0;
		margin-left: 110px;
		margin-top: 65px;
	}

	.footer-app__social {
    height: 60px;
    display: inline-block;
    width: 219px;
    margin-top: 95px;
	}



	.footer-app__developed {
    height: 60px;
    display: inline-block;
    width: 170px;
    margin-right: 125px;
    margin-top: 95px;
	}

	.index-page .footer-app {
		justify-content: space-between;
	}

	.index-page .footer-app__logo {
		    margin-left: 130px;
    margin-top: 60px;
	}

	.index-page .footer-app__social {
    height: 60px;
    display: inline-block;
    width: 219px;
    margin-top: 75px;
    margin-left: 0px;
}

	.index-page .footer-app__developed {
		    margin-right: 123px;
    font-size: 19px;
    margin-top: 80px;
	}

	.index-page .footer-app__developed img {
    position: absolute;
    top: 5px;
    right: 8px;
}

	.form-page .footer-app {
		height: 150px;
	}
	
	.form-page .footer-app__logo {
	height: 60px;
    display: inline-block;
    width: 190px;
    margin: 0;
    margin-left: 52px;
    padding-top: 28px;    
    margin-top: 0px;
}

	.form-page .footer-app__social {
	height: 60px;
    display: inline-block;
    width: 219px;
    margin-right: 52px;
    margin-left: 87px;
    margin-top: 31px;
    word-spacing: 9px;    
}

	.form-page .footer-app__developed {
    height: 60px;
    display: inline-block;
    width: 170px;
    margin-right: 68px;
    margin-top: 36px;
    font-size: 18px;
}

	.form-page .footer-app__developed img {
    position: absolute;
    top: 5px;
    right: 9px;
	}

	.photo-page .footer-app {
		justify-content: space-between;
	}

	.photo-page .footer-app__logo {
		margin-top: 72px;
    margin-left: 130px;
    margin-right: 24px;
	}

	.photo-page .footer-app__social {
    margin-top: 87px;
	}

	.photo-page .footer-app__developed {
    margin-top: 93px;
    font-size: 19px;
    margin-right: 135px;
    padding-left: 18px;
	}

	.photo-page .footer-app__developed img {
    position: absolute;
    top: 5px;
    right: -5px;
	}

}