.form-competition-text {
	height: 240px;
	color: white;
	box-sizing: border-box;
	font-family:"Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	font-weight: lighter;
	background-color:#1d2631;
	background-image: url("../img/bg-back-mobile@1x.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	box-sizing: border-box;
	
	.container();
	outline: 2px solid yellow;
	height: 170px;
}

.form-competition-text p {
	margin:0;
	padding-top: 30px;
}

@media @tablet-widths {

.form-competition-text {
	height: 330px;
	padding-top: 100px;
}


}




@media @desktop-widths {

.form-competition-text {
	height: 225px;
}

	
}