.form-list {
	background:white;
	text-align:center;
}

.form-list__username {
	.container();
	outline: 2px solid red;
}

.form-list__title {
	height: 160px;
	outline: 2px solid red;
	font-family:"Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: black;
	background: white;
	.container();
	box-sizing: border-box;
	padding-top: 45px;
}

.form-list__title span {
	display: none;
}

.form-list__username-field {
	outline: 2px solid blue;
	height: 125px;
	background: white;
}

.form-list__username-field label {
	display: block;
	color: #d22856;
	text-align:left;
	padding-left: 20px;
	margin-bottom: 10px;
}

.form-list__achievements {
	background: #f2f2f2;
	color: black;
	outline: 2px solid pink;
	height: 710px;
	.container();
}

.form-list__achievements-title {
	outline: 2px solid red;
	padding-top: 20px;
	color: #d22856;
	height: 80px;
}

.form-list__achievements-field {
	outline: 2px solid red;
	padding-top: 18px;
	line-height: 30px;
	height: 83px;
}

.form-list__contacts {
	background: white;
	color: #d22856;
	outline: 2px solid pink;
	height: 260px;
	padding-top: 25px;
	.container();
}

.form-list__contacts-title {
	display: none;
}

.form-list__contacts-field {
	box-sizing: border-box;
	padding-top: 20px;
	outline: 2px solid red;
	height: 120px;
}

.form-list__operation-system {
	background: #f2f2f2;
	color: black;
	outline: 2px solid pink;
	height: 325px;
	padding-top: 15px;
	.container();
}

.form-list__operation-system-title {
	color: #d22856;
	outline: 2px solid red;
	height: 80px;
}

.form-list__operation-system-field {
	outline: 2px solid red;
	height: 81px;
}

.form-list__feedback {
	background:white;
	height: 320px;
	outline: 2px solid green;
	.container();
	text-align: center;
}

.form-list__feedback-title {
	color: #d22856;

	outline: 2px solid red;
	padding-top: 20px;
	height: 50px;
}

.form-list__feedback textarea {
	outline: 2px solid red;
	height: 200px;
	width: 80%;
	margin: 0 auto;
}

.form-list button {
	background: #2aab6d;
	color: white;
	text-transform: uppercase;
	outline: 2px solid red;
	height: 60px;
	width: 80%;
	margin: 0 auto;
}

.form-list__required-fields {
	font-size: 14px;
	text-transform: uppercase;
	color: black;
	box-sizing: border-box;
	padding-top: 30px;
	height: 90px;
	outline: 2px solid blue;
}

.form-list__required-fields span {
	color: #d22856;
}

@media @tablet-widths {

.form-list {
	display: flex;
	flex-direction: column;
}


.form-list__username {
	order: 2;
	.container();
	outline: 2px solid red;
}

.form-list__title {
	height: 220px;
	order: 1;
	 width: 400px;
	outline: 2px solid red;
}

.form-list__title span {
	display: block;
}

.form-list__username-field {
	outline: 2px solid blue;
	height: 125px;
}

.form-list__achievements {
	order: 5;
	background: white;
	outline: 2px solid blue;
	height: 710px;
}

.form-list__achievements-field {
	width: 350px;
}

.form-list__contacts {
	order: 4;
	outline: 2px solid blue;
	height: 335px;
}

.form-list__contacts-phone,
.form-list__contacts-email {
	display: block;
	margin-bottom: 10px;
}


.form-list__contacts-title {
	display: block;
}

.form-list__operation-system {
	order: 3;
	outline: 2px solid blue;
	padding-top: 15px;
	.container();
	background: white;
	margin-bottom: 100px;
}

.form-list__operation-system-field {
	width: 300px;
}

.form-list__feedback {
	order: 6;
	height: 370px;
	outline: 2px solid green;
	.container();
	text-align: center;
}

.form-list__feedback textarea {
	margin: 30px auto;
}

.form-list button {
	order: 7;
}

.form-list__required-fields {
	order: 8;
}

}



@media @desktop-widths {


.form-list__username {
	.container();
	outline: 2px solid red;
}

.form-list__title {
	height: 150px;
	width: 820px;
	outline: 2px solid red;
}

.form-list__username {
	width: 470px !important;
	display: inline-block;
	outline: 2px solid green;

}

.form-list__contacts {
	height: 185px;
}

.form-list__contacts-field {
	    box-sizing: border-box;
    padding-top: 20px;
    outline: 2px solid red;
    height: 120px;
    display: inline-block;
    width: 480px;
}

.form-list__username-field {
	display:inline-block;
	width: 300px;
	outline: 2px solid blue;
	height: 125px;
}

.form-list__achievements {
	height: 320px;
}

.form-list__achievements-title {
	margin: 0;
}

.form-list__achievements-field {
	display: inline-block;
}

.form-list__operation-system {
	width: 500px;
	margin-bottom: 0;
}

}