.main-nav {
  width: auto;
  margin: 0 auto;
}

.main-nav__modal {
  background: none;
  border:none;
  height: 27px;
  width: 40px;
}

.main-nav__list  {
  background: #283645;
  padding:0;
  margin:0;
  text-align: center;
  list-style:none;
}

.main-nav__list li {
  box-sizing: border-box;
  padding-top:23px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  height: 65px;
  border-bottom: 1px solid black;
    border-top: 1px solid #485461;
}



.main-nav__list-item a {
  color: white;
  text-decoration:none;
}


.main-nav__list-item a:hover {
    color: #d22856;
}

.main-nav__list-item a:active {
    color: #ffffff;
    opacity: 0.3;
}

.main-nav__list-active {
  border-bottom: 2px solid white;
}


@media @mobile-widths-only {

    .main-nav--closed {
      display:none;
    }

    .main-nav--opened {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 500;
    }

    .main-header--nojs .main-header__top-sandwich {
      /*display:none;*/
      display: inline-block;
    }

    .main-header--nojs .main-nav--opened {
      display: block;
      position: relative;
    }

  .main-header--opened .main-header__top-sandwich {
  
  background: url("../img/icon-close.png") no-repeat 7px 0px;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-left: 170px;
}

}

@media @tablet-widths {

  .main-nav {
    width: 100%;
    height: 255px;

  }

  

  .main-nav__wrapper {

    height: inherit;
    .container();
    .clearfix();
  }

}

@media @tablet-widths {

    .main-nav--closed {
      display:none;
    }

    .main-nav--opened {
    position: absolute;
    margin: 0 auto;
    left: 0;
    
    right: 0;
    z-index: 500;
    }

    .main-header--nojs .main-header__top-sandwich {
      /*display:none;*/
      display: inline-block;
    }

    .main-header--nojs .main-nav--opened {
      display: block;
      position: relative;
    }

      .main-header--opened .main-header__top-sandwich {
  
  background: url("../img/icon-close.png") no-repeat 7px 0px;
  display: inline-block;
  width: 40px;
  height: 24px;
}

}

@media @desktop-widths {

  .main-nav {
  
  width: 820px;
  height: 85px;
  margin: 0 0 0 110px;
  padding: 0;
  display: inline-block;
  list-style: none;
  }

  .main-nav__list {
    width: 740px;
    background-color: rgba(40, 54, 69, 0.3);
    box-sizing: border-box;
    padding-top: 25px;
    text-align: left;
  }

 .main-nav__list-item {
  font-size: 18px;

  display: inline-block;
  color: white;
  text-decoration:none;
}

.main-nav__list-item a {
    color: white;
    display: inline-block;
    height: 35px;
    text-decoration: none;
}

.main-nav__list li {
    padding-top: 16px;
    text-transform: none;
    margin-right: 35px;
    letter-spacing: 0.14px;
    margin-left: 39px;
    border: none;
}

}
