.main-nav {
  height: 255px;
  outline: 3px solid green;
  width: 320px;
  margin: 0 auto;
}

@media @tablet-widths {

  .main-nav {
    width: auto;
    height: 255px;
    margin: 0;
  }

  .main-nav__wrapper {
    height: inherit;
    .container();
    .clearfix();
    outline: 3px solid red;    
  }



}

@media @desktop-widths {

  .main-nav {
    display:none;
    
    width: 200px;
    height: 85px;
    outline: 3px solid blue;
      margin: 0;
  padding: 0;

  list-style: none;
  }

}
