.main-header__logo {
	height: 67px;
	outline: 3px solid red;
  .container();
}

.main-header {
  height: 325px;
}

@media @tablet-widths {

  .main-header {
    height: 366px;
  }

  .main-header__logo {
  	height: 110px;
  	outline: 3px solid red;
  }

}

@media @desktop-widths {

  .main-header {
    height: 90px;
  }

  .main-header__wrapper {
    
    height: 86px;
    outline: 2px solid green;
  }

  

  .main-header__logo {
    width: 200px;
    height: 85px;
    
    outline: 3px solid red;
  }
}