

.main-header {
  height: 325px;
  width: auto;
  position: static;
  text-align: center;
  flex-direction: column;
}

.main-header__wrapper {
  outline: 3px solid red;
  background: #283645;
  height: 66px;
}

.main-header__logo {
  box-sizing: border-box;
  height: 65px;
  1width: 100%;
  width: 80px;
  display: inline-block;
  padding: 15px 0 0 15px;
  padding-top: 22px;
}

.main-header__top-sandwich {
  
  background: url("../img/icon-menu-burger.svg");
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-left: 170px;
}



@media @tablet-widths {

  .main-header {
    position:absolute;
    width: auto;
  display: flex;
  top:0;
  left:0;
  right:0;
  margin: 0 auto;
    height: 366px;
    position: static;
  }

   .main-header__wrapper {
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-header__logo img {
    display: none;
  }

  .main-header__logo {
    background: url("../img/logotype-white-tablet.png");
    width: 147px;
    height: 40px;
  }

  .main-header__top-sandwich {
  margin-left: 431px;
}
 

}

@media @desktop-widths {

  .main-header {
        z-index: 2;
    height: 90px;
    position:absolute;
  top:0;
  left:0;
  right:0;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(40, 54, 69, 0.7);
  }

  .main-header__wrapper {
    vertical-align: top;
    display: inline-block;
    margin-top: 27px;
    margin-left: 106px;
    width: 200px;
    background: none;
    height: 50px;
    outline: 2px solid green;
  }

    .main-header__top-sandwich {
  display:none;
}

  .main-header__logo {
    1width: 200px;
    1height: 85px;
    1margin-left:100px;
  }
}