.photo-edit-section {
	.container();
	background: #f2f2f2;
}


.photo-edit-section__slogan {
	height: 170px;
	outline: 2px solid red;
	margin-bottom: 20px;
	background: white;
	color: black;
	text-align:center;
	box-sizing: border-box;
	padding-top: 30px;

}

.photo-edit-section__photo {
	height: 375px;
	outline: 2px solid red;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 35px;

}

.photo-edit-section__effects {
	height: 325px;
	outline: 2px solid blue;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.photo-edit-section__effects-block {
	height: 50px;
	display: inline-block;
	outline: 5px solid purple;
	width: 50px;
	margin: 0 15px 0 20px;
	background: red;
	margin-bottom: 15px;
}


.photo-edit-section__effects-block__slider {
	display: none;
}

.photo-edit-section__effects-general-slider {
	outline: 2px solid green;
	height: 55px;
	width: 280px;
	margin: 0 auto;
	box-sizing: border-box;
	text-align:center;
	padding-top: 20px;
	margin-bottom: 40px;
}

.photo-edit-section__slider {
	height: 55px;
	outline: 2px solid red;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 40px;
}
 

.photo-edit-section__buttons {
	height: 125px;
	outline: 2px solid red;
	width: 280px;
	box-sizing: border-box;
	text-align:center;
	padding-top: 20px;
	color:#8e1e26;
	margin: 0 auto;
	margin-bottom: 40px;
}

.photo-edit-section__effects-general-slider {

}

    @media @tablet-widths {

.photo-edit-section__effects-block {
	font-size: 0;
	1height: 190px;
	height: 60px;
	outline: 3px solid green;
	display: inline-block;
	width: 100%;
	margin: 0 0 0 0;
}



.photo-edit-section__effects {
    height: 400px;
    outline: 2px solid blue;
    width: 280px;
    margin: 0 auto;
    margin-top: 40px;
    display: inline-block;
    margin-left: 30px;
}

.photo-edit-section__slogan {
	height: 190px;
	outline: 2px solid red;
}

.photo-edit-section__photo {
	height: 400px;
	outline: 2px solid green;
	display: inline-block;
	width: 300px;
	margin: 40px 0 0 20px;
	margin-bottom: 50px;
	vertical-align: top;
}


.photo-edit-section__photo img {
	height: 100%;
}

.photo-edit-section__slider {

}

.photo-edit-section__buttons {
margin-top: 60px;
height:135px;

}

.photo-edit-section__effects-general-slider {
	display: none;
}
 
}

	@media @desktop-widths {

.photo-edit-section__slogan {
	height: 170px;
	outline: 2px solid red;
	margin-bottom: 10px;

}

.photo-edit-section__photo {
	height: 395px;
	outline: 2px solid red;
	width: 300px;
	margin-top: 60px;
	margin-left: 210px;
	margin-bottom: 60px;

}

.photo-edit-section__effects {
	height: 200px;
	outline: 2px solid blue;
	width: 440px;
	margin: 60px 0 10px 60px;
}

.photo-edit-section__effects-block {
	font-size: 0;
	height: 55px;
	outline: 3px solid green;
	display: inline-block;
	width: 100%;
	margin: 0 0 5px 0;
}

.photo-edit-section__slider {
	display:none;
}

.photo-edit-section__buttons {
	height: 60px;
	outline: 2px solid red;
	width: 400px;
	margin: 135px 0 50px 30px;

}

  }