.price-section {
	.container();
	outline: 2px solid blue;
	padding-top: 90px;
}

.price-section__header {
	outline: 2px solid blue;
	height: 100px;

}

.price-section__features-list {
	outline: 2px solid blue;
	height: 180px;
}

.price-section__slider {
	outline: 2px solid blue;
	margin-top: 30px;
	height: 40px;
	margin-bottom: 35px;

}




 @media @tablet-widths {

 	.price-section__header {
	outline: 2px solid blue;
	height: 75px;

}

.price-section__features-list {
	outline: 2px solid blue;
	height: 140px;
	margin-bottom: 70px;
}

.price-section__slider {
	display:none;
}



  }

 @media @desktop-widths {

 	.price-section {
	.container();
	outline: 2px solid blue;
	padding-top: 120px;
}

 	.price-section__header {
 	padding-top: 0px;
	outline: 2px solid blue;
	height: 75px;

}

.price-section__features-list {
	outline: 2px solid blue;
	height: 150px;
	margin-bottom: 75px;
}


  }
