.price-section {
	height: 350px;
	padding-top: 80px;
	padding-bottom: 30px;
	overflow: hidden;
	position: relative;
	background-color: #f2f2f2;
	color: black;
}


.price-section__table {
	height: 280px;
    left: 50%;
    margin: 0 auto;
    margin-left: -470px;
    position: absolute;
    width: 940px;
  /*width: 825px; ПРАВИЛЬНЫЙ
    margin-left: -413px;*/
}

.price-section__header {
	text-align: center;
    background: #283645;
    color: white;
    height: 95px;
    overflow: hidden;
    border: 2px solid #e5e5e5;
}

.price-section__row td:first-child {
    display: none;
}

.price-section__cell {
    width: 33.333333%;
	height: 60px;
	    font-size: 14px;
	text-transform: uppercase;
    padding-left: 23px;
	text-align: left;
	background: white;
	position: relative;
	border: 2px solid #e5e5e5;
}

.price-section__header-tariff {
	display: block;
	box-sizing: border-box;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	position: relative;

	text-transform: uppercase;
}

.price-section__header-tariff--hit::after {
    content: "Хит";
    width: 120px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    position: absolute;
	top: -6px;
    left: -38px;
    transform: rotate(-45deg);
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(210, 40, 86);
    color: rgb(255, 255, 255);
}

.price-section__header-tariff-cost {
	display: block;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: lighter;
	text-transform: uppercase;
}

.price-section__cell--check:after {
    background: url(../img/icon-yes.svg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    right: 16px;
    width: 34px;
    height: 25px;
}

.price-section__cell--cross:after {
	background: url(../img/icon-no.svg);
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    right: 20px;
    width: 26px;
    height: 27px;
}


.price-section__features-list {
	height: 180px;
}

.price-section__slider {
	margin-top: 307px;
	height: 40px;
	text-align: center;
}

.price-section__slider-button {
	width: 4px;
    height: 4px;
    margin: 0 3px;
    border: 2px solid #bec2c7;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    background: #bec2c7;
    box-sizing: content-box;
}

.price-section__slider-button--active {
	width: 5px;
    height: 5px;
    margin: 0 3px;
    border: 3px solid black;
    border-radius: 50%;
    display: inline-block;
    vertical-align: baseline;
    padding: 0;
    background: #ffffff;
    box-sizing: content-box;
}


 @media @tablet-widths {

 	.price-section {
 		height: 258px;
        padding-top: 93px;
 	}

 	.price-section__header {
	height: 75px;
    width: auto;
}

.price-section_cell-feature {
	visibility: hidden;
}

.price-section__row td:first-child {
    display: table;
}

.price-section__cell {
    padding-left: 13px;
	height: 43px;
    text-transform: none;
}

.price-section__features-list {
	height: 140px;
	margin-bottom: 70px;
}

.price-section__slider {
	display:none;
}

.price-section__header-tariff {
    display: block;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
}


.price-section__table {
    height: 220px;
    width: 94%;
    left: 9px;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.price-section__cell--check:after {
	background: url(../img/icon-yes.svg);
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    right: 70px;
    width: 19px;
    height: 18px;
}

.price-section__cell--cross:after {
	background: url(../img/icon-no.svg);
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 65px;
    width: 26px;
    height: 27px;
}


  }

 @media @desktop-widths {

 	.price-section {
	
    padding-top: 143px;
    min-height: 348px;

}

 	.price-section__header {
 	padding-top: 0px;
    height: 98px;
    width: 25.3%;
}

.price-section_cell-tariff {
	display: block;
}

.price-section__features-list {
	height: 150px;
	margin-bottom: 75px;
}

.price-section_cell-feature {
	visibility: hidden;
}

.price-section__table {
	height: 275px;
	width: 78%;
}

.price-section__cell {
    padding-left: 13px;
    height: 58px;
    text-transform: none;
}

.price-section__cell--check:after {
    background: url(../img/icon-yes.svg);
    content: "";
    display: block;
    position: absolute;
    top: 22px;
    right: 108px;
    width: 19px;
    height: 18px;
}

.price-section__cell--cross:after {
    background: url(../img/icon-no.svg);
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 103px;
    width: 26px;
    height: 27px;
}

  }
