.user-photos-content {
	.container();
	height: 2300px;
	outline: 2px solid purple;
}

.user-photos-content__item-quote {
	text-align: center;
	background: #f2f2f2;
	color: black;
}

.user-photos-content__item-image {
	display: block;
}


.user-photos-content .user-photos-content__item-image--best {
	outline: 2px solid green;
	display: block;
	height: 135px;
}

.user-photos-content__item {
	outline: 2px solid green;
	height: 329px;
}

.user-photos-content__item-image--best {
	position: relative;
}

.user-photos-content__item-image-best-view {
	position: absolute;
	top:0;
	right:0;
	width: 140px;
	height: 28px;
	text-transform: uppercase;
	color: white;
	padding-top: 8px;
	position: absolute;
	bottom:127px;
	right:20px;
	background: #d22856;
	text-align: center;
}

.user-photos-content__item-quote-author {
	color: #283645;
}

.user-photos-content__item-quote-author-name {
	font-weight: bold;
	font-style: normal;
}

.user-photos-content__item-quote-text {
	margin: 5px 15px;
	font-size: 14px;
 	font-family: "Open Sans", Arial, sans-serif;
 	line-height: 24px;
}

.user-photos-content__item-quote-likes {
	padding-bottom: 28px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 12px;
	line-spacing: 24px;
	text-transform: uppercase;
	color: #d22856;
	padding-left: 10%;
}


@media @tablet-widths {

	.user-photos-content {
	.container();
	height: 2090px;
	outline: 2px solid purple;

}

.user-photos-content .user-photos-content__item-image--best {
	outline: 2px solid pink;
	display: block;
	height: 510px;
	width: 100%;
}

.user-photos-content .user-photos-content__item-image--best img {
	height: 100%;
	width:100%;
}





.user-photos-content__item:first-child {
	outline: 2px solid green;
	height: 630px;
	width: 100%;
	margin-left:0;
	margin-bottom: 55px;
}

.user-photos-content__item {
	vertical-align: top;
	display:inline-block;
	outline: 2px solid green;
	height: 455px;
	margin-bottom: 20px;
	width: 300px;
	margin-left: 20px;
}

.user-photos-content__item-image img {
	height: 300px;
}


}


@media @desktop-widths {

	.user-photos-content {
	text-align:center;
	height: 1820px;
	outline: 2px solid purple;

}

.user-photos-content .user-photos-content__item-image--best {
	outline: 2px solid pink;
	display: block;
	height: 510px;
}





.user-photos-content__item:first-child {
	outline: 2px solid blue;
	height: 600px;
	width: 100%;
	margin-bottom: 55px;
}

.user-photos-content__item {
	display:inline-block;
	outline: 2px solid green;
	height: 555px;
	margin-bottom: 50px;
	width: 300px;
	margin-left: 20px;
}

.user-photos-content__item-image img {
	height: 400px;
}


}